In [440]:
import pandas as pd

In [441]:
df = pd.read_csv('/Users/ronak/PycharmProjects/rei_power/Files/column_mapping_CP1_Cooling.csv', header=None)

In [442]:
column_mappings = {}

In [443]:
for index, row in df.iterrows():
    row[0] = row[0].split(':')[0]
    column_mappings[row[0]] = row[1]

In [444]:
df = pd.read_csv('/Users/ronak/PycharmProjects/rei_power/Files/CP1 COOLING_data.csv')

In [445]:
df = df.iloc[:, :-1]

In [446]:
df = df.rename(columns={'<>Date': 'Date'})
df = df.rename(columns=column_mappings)

In [447]:
df = df[:-1]

In [448]:
# count_nan = len(df) - df.count()

In [449]:
# count_nan

In [450]:
df.replace({'OFF': 0, 'ON': 1}, inplace=True)

In [451]:
pd.set_option('display.max_rows', None)

In [452]:
# df.head(100)

In [453]:
def time_switch_1(sub_df):
    off_switch, on_switch = 0,0
    for index, row in sub_df.iterrows():
        try:
            if(float(row['SQ1_CP1_DF_CH1_KW']) < 10):
                off_switch += 1
            else:
                on_switch += 1
        except:
            continue

    if(on_switch > 4 and off_switch > 4):
        sub_df['too_many_starts_1'] = [1] * sub_df.shape[0]
    else:
        sub_df['too_many_starts_1'] = [0] * sub_df.shape[0]

    return sub_df

def time_switch_2(sub_df):
    off_switch, on_switch = 0,0
    for index, row in sub_df.iterrows():
        try:
            if(float(row['SQ1_CP1_DF_CH2_KW']) < 10):
                off_switch += 1
            else:
                on_switch += 1
        except:
            continue

    if(on_switch > 4 and off_switch > 4):
        sub_df['too_many_starts_2'] = [1] * sub_df.shape[0]
    else:
        sub_df['too_many_starts_2'] = [0] * sub_df.shape[0]

    return sub_df

def time_switch_3(sub_df):
    off_switch, on_switch = 0,0
    for index, row in sub_df.iterrows():
        try:
            if(float(row['SQ1_CP1_DF_CH3_KW']) < 10):
                off_switch += 1
            else:
                on_switch += 1
        except:
            continue

    if(on_switch > 4 and off_switch > 4):
        sub_df['too_many_starts_3'] = [1] * sub_df.shape[0]
    else:
        sub_df['too_many_starts_3'] = [0] * sub_df.shape[0]

    return sub_df

def time_switch_4(sub_df):
    off_switch, on_switch = 0,0
    for index, row in sub_df.iterrows():
        try:
            if(float(row['SQ1_CP1_DF_CH4_KW']) < 10):
                off_switch += 1
            else:
                on_switch += 1
        except:
            continue

    if(on_switch > 4 and off_switch > 4):
        sub_df['too_many_starts_4'] = [1] * sub_df.shape[0]
    else:
        sub_df['too_many_starts_4'] = [0] * sub_df.shape[0]

    return sub_df

In [454]:
def too_many_starts(df):
    dates = df['Date'].unique()

    frames = []

    for date in dates:
        sub_df = df[(df['Date'] == str(date))]
        sub_df = time_switch_1(sub_df)
        sub_df = time_switch_2(sub_df)
        sub_df = time_switch_3(sub_df)
        sub_df = time_switch_4(sub_df)
        frames.append(sub_df)
        break
    
    result = pd.concat(frames)
    
    return result

In [455]:
df = too_many_starts(df)
df

/var/folders/98/sznc5p5954z41vgg3v246x500000gn/T/ipykernel_5287/1269958935.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['too_many_starts_1'] = [0] * sub_df.shape[0]
/var/folders/98/sznc5p5954z41vgg3v246x500000gn/T/ipykernel_5287/1269958935.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['too_many_starts_2'] = [0] * sub_df.shape[0]
/var/folders/98/sznc5p5954z41vgg3v246x500000gn/T/ipykernel_5287/1269958935.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['too_many_starts_3'] = [0] * sub_df.shape[0]
/var/folders/98/sznc5p5954z41vgg3v246x500000gn/T/ipykernel_5287/1269958935.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['too_many_starts_4'] = [0] * sub_df.shape[0]

,Date,Time,SQ1_CP1_DF_OAT,1CHWS,1CHWR,SQ1_CP1_DF_CH1_TONS,SQ1_CP1_DF_CH2_TONS,SQ1_CP1_DF_CH3_TONS,SQ1_CP1_DF_CH4_TONS,SQ1_CP1_DF_CH1_KW,...,SQ1_CP1_DF_CH2_CHW_FLOW,SQ1_CP1_DF_CH3_CHW_FLOW,SQ1_CP1_DF_CH4_CHW_FLOW,SQ1_CP1_DF_CH1_CW_FLOW,SQ1_CP1_DF_CH2_CW_FLOW,SQ1_CP1_DF_CH3_CW_FLOW,too_many_starts_1,too_many_starts_2,too_many_starts_3,too_many_starts_4
0,1/1/2022,0:00:00,39.82,69.89,64.83,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/1/2022,1:00:00,39.97,70.51,65.62,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/1/2022,2:00:00,39.94,71.06,66.31,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/1/2022,3:00:00,40.57,71.47,67.14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/1/2022,4:00:00,39.99,71.86,67.57,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1/1/2022,5:00:00,40.31,72.18,68.11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1/1/2022,6:00:00,39.84,72.52,68.63,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1/1/2022,7:00:00,39.08,72.77,69.13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1/1/2022,8:00:00,37.07,58.32,66.47,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1/1/2022,9:00:00,37.36,50.72,55.04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1/1/2022,10:00:00,38.12,49.26,52.95,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1/1/2022,11:00:00,37.91,51.88,57.13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1/1/2022,12:00:00,37.11,51.55,56.98,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1/1/2022,13:00:00,36.79,50.65,56.1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1/1/2022,14:00:00,36.91,50.43,55.74,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1/1/2022,15:00:00,36.18,50.34,55.63,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1/1/2022,16:00:00,35.3,50.27,55.63,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1/1/2022,17:00:00,34.6,50.42,55.76,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1/1/2022,18:00:00,34,50.37,55.58,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1/1/2022,19:00:00,33.12,54.88,54.25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1/1/2022,20:00:00,30.97,58.22,54.75,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1/1/2022,21:00:00,29.62,61.12,54.97,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1/1/2022,22:00:00,28.43,62.74,55.99,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1/1/2022,23:00:00,27.08,64.22,57.36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## add comments

In [400]:
def is_free_cooling_operation(CP2CHOAT, CP2CH1M5, CP2CH2M10):
    if((float(CP2CHOAT) < 60) and (CP2CH1M5 or CP2CH2M10)):
        return True
    return False

In [401]:
def chiller_water_temp_diff(CCHWST, CCHWRT, CP2CH1M5, CP2CH2M10):
    if(abs(float(CCHWST)- float(CCHWRT)) < 5 and (CP2CH1M5 or CP2CH2M10)):
        return True
    return False

In [166]:
def condensor_water_temp_diff(CDWST, CDWRT, CP2CH1M5, CP2CH2M10):
    if(abs(float(CDWST) - float(CDWRT)) < 5 and (CP2CH1M5 or CP2CH2M10)):
        return True
    return False

In [167]:
def condensor_water_reset_temp(CDWRT, CP2CHOAT):    
    if(float(CDWRT) > (float(CP2CHOAT) + 7)):
        return True
    return False

In [168]:
is_free_cooling_operation_results = []
chiller_water_temp_diff_results = []
condensor_water_temp_diff_results = []
condensor_water_reset_temp_results = []

for index, row in df.iterrows():
    try:
        if(is_free_cooling_operation(row['CP2.CHOAT'], row['CP2.CH1.M5'], row['CP2.CH2.M10'])):
            is_free_cooling_operation_results.append(1)
        else:
            is_free_cooling_operation_results.append(0)
    except:
        is_free_cooling_operation_results.append(-1)
        continue

In [169]:
for index, row in df.iterrows():
    try:
        if(chiller_water_temp_diff(row['CCHWST'], row['CCHWRT'], row['CP2.CH1.M5'], row['CP2.CH2.M10'])):
            chiller_water_temp_diff_results.append(1)
        else:
            chiller_water_temp_diff_results.append(0)
    except:
        chiller_water_temp_diff_results.append(-1)
        continue

In [170]:
for index, row in df.iterrows():
    try:
        if(condensor_water_temp_diff(row['CDWST'], row['CDWRT'], row['CP2.CH1.M5'], row['CP2.CH2.M10'])):
            condensor_water_temp_diff_results.append(1)
        else:
            condensor_water_temp_diff_results.append(0)
    except:
        condensor_water_temp_diff_results.append(-1)
        continue

In [171]:
for index, row in df.iterrows():
    try:
        if(condensor_water_reset_temp(row['CDWRT'], row['CP2.CHOAT'])):
            condensor_water_reset_temp_results.append(1)
        else:
            condensor_water_reset_temp_results.append(0)
    except:
        condensor_water_reset_temp_results.append(-1)
        continue

In [172]:
df['is_free_cooling_operation'] = is_free_cooling_operation_results
df['chiller_water_temp_diff'] = chiller_water_temp_diff_results
df['condensor_water_temp_diff'] = condensor_water_temp_diff_results
df['condensor_water_reset_temp'] = condensor_water_reset_temp_results

In [173]:
df

,Date,Time,CP2.CHOAT,CCHWST,CCHWRT,CP2.CH1.M5,CP2.CH2.M10,CP2.CHWP1,CP2.CHWP2,CP2.CHWP3,...,CDWRT,SQ1.CP2.CDWST.STPT,SQ1.CP2.CT2.SPD,SQ1.CP2.CT1.SPD,CP2.CNDP1,CP2.CNDP2,is_free_cooling_operation,chiller_water_temp_diff,condensor_water_temp_diff,condensor_water_reset_temp
0,1/1/2022,00:00:00,40.09,62.13,61.73,0,0,0,0,0,...,59.86,47,20,20,0,0,0,0,0,1
1,1/1/2022,01:00:00,40.09,63.98,63.21,0,0,0,0,0,...,60.66,47,20,20,0,0,0,0,0,1
2,1/1/2022,02:00:00,40.09,65.84,64.5,0,0,0,0,0,...,61.46,47,20,20,0,0,0,0,0,1
3,1/1/2022,03:00:00,40.09,67.56,65.58,0,0,0,0,0,...,62.21,47,20,20,0,0,0,0,0,1
4,1/1/2022,04:00:00,40.09,69.36,66.47,0,0,0,0,0,...,62.9,47,20,20,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,8/18/2022,08:00:00,65.15,61.73,60.65,1,0,1,0,0,...,75.16,78,20,20,1,0,0,1,1,1
5504,8/18/2022,09:00:00,70.25,46.38,55.43,1,0,1,0,0,...,88.31,78,46.2,46.2,1,0,0,0,0,1
5505,8/18/2022,10:00:00,74.28,45.32,52.39,1,0,1,0,0,...,86,78,43.2,43.2,1,0,0,0,0,1
5506,8/18/2022,11:00:00,78.38,45.23,52.07,1,0,1,0,0,...,84.66,78,38.7,38.7,1,0,0,0,0,0
5507,8/18/2022,12:00:00,79.41,45.06,51.83,1,0,1,0,0,...,85.31,78,38.8,38.8,1,0,0,0,0,0

In [174]:
# df.to_csv('/home/ubuntu/PycharmProjects/rei_power/df.csv')